<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nexxtopia - Private npm registry</title>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #efefef;
        color: #464646;
        font-family: Helvetica, sans-serif;
        position: relative;
        text-align: center;
      }

      .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        padding: 0 16px;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <h1>Sign in</h1>
      <a href="/auth/github">Sign in here</a>
    </div>
  </body>
</html>
