<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nexxtopia - Private npm registry</title>
    <style>
      html, body {
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #efefef;
        color: #464646;
        font-family: Helvetica, sans-serif;
        position: relative;
        text-align: center;
      }

      .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        padding: 0 16px;
      }

      .btn-primary {
        color: #FFF;
        background-color: #337ab7;
        border-color: #2e6da4;
      }

      .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="wrap">
      <img src="/-/static/github-logo.png">
      <h1>Sign in now to see your organization registry</h1>
      <a class="btn btn-primary" href="/auth/github" role="button">Sign in</a>
    </div>
  </body>
</html>
